<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a> </li>
    <li><a href="{% url 'about' %}">О нас</a> </li>
</ul>

{% block content %}
{% endblock %}
</body>
</html>